<div class="container-fluid">
    <dl>
        <dd>
            <select [(ngModel)]="bgStyle">
                <option value="red">Red</option>
                <option value="blue">blue</option>
                <option value="green">Green</option>
                <option value="yellow">Yellow</option>
            </select>
        </dd>
        <dt>Text Color</dt>
        <dd>
            <select [(ngModel)]="textStyle">
                <option value="red">Red</option>
                <option value="blue">blue</option>
                <option value="white">White</option>
                <option value="yellow">Yellow</option>
            </select>
        </dd>
        <dt>padding</dt>
        <dd>
            1px <input type="range" min="1" max="50" [(ngModel)]="padding">50px
        </dd>

        <dt>font</dt>
        <dd>
            1px <input type="range" min="1" max="50" [(ngModel)]="fontStyle">50px
        </dd>
        <dd>
            <button (click)="ApplyStyles()" class="btn btn-primary">Apply</button>
        </dd>
    </dl>

    <div class="container-fluid d-flex justify-content-center align-items-center">
        <h1 [ngStyle]="styleObj">Suresh Vadlamudi </h1>
    </div>
</div>
